<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:inline="text">Account #[[${account.accountId != null ? account.accountId : 'New'}]]</title>
</head>
<body>
    <h1>Account #[[${account.accountId != null ? account.accountId : 'New'}]]</h1>

    <!-- Form to create or update an account -->
    <form th:action="@{/users/{userId}/accounts(userId=${userId})}" method="post" th:object="${account}">
        <div>
            <label>Account Name:</label>
            <input type="text" th:field="*{accountName}" placeholder="Enter Account Name" required />
        </div>
        <div>
            <button type="submit">Save Account</button>
        </div>
    </form>

    <hr/>

   
    <a th:href="@{/users/{userId}(userId=${userId})}">Back</a>
</body>
</html>
